body {
  font-family: 'Lato', sans-serif;
  color: #000;
}
.padding-less{
padding-right: 10px !important;
padding-left: 10px !important;
}
h1,h2,h3,h4,h5,h6,p{
  font-family: 'Lato', sans-serif !important;
}





/*=================================
         Scroll nav
=================================*/
#primary {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 16px;
  margin-top: -40px;
  list-style: none;
}
#primary ul{
  list-style: none;
}
#primary li {
  position: relative;
  height: 20px;
}
#primary a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: transparent url('../img/nav-dot.png') 4px 4px no-repeat;
}
#primary a:hover, #primary a.activesidebar {
  background: transparent url('../img/nav-dot.png') 4px -16px no-repeat;
}
.activesidebar {
  background: transparent url('../img/nav-dot.png') 4px -16px no-repeat;
}
.myh1 {
  position: absolute;
  right: 15px;
  top: -22px;
  display:none;
  padding: 4px 20px 4px 7px;;
  color: #535353;
  white-space: nowrap;
  background: none;
  /*background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;*/
  font-size: 16px;
  font-weight: bold;
  }
.myh1add{
	  position: absolute;
  right: 15px;
  top: -22px;
  display:block !important;
  padding: 4px 20px 4px 7px;;
  color: #535353;
  white-space: nowrap;
  background: none;
  /*background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;*/
  font-size: 16px;
  font-weight: bold;
}





/*==============================
         popup
==============================*/\
.modal-content {
    position: relative;
    background-color: rgba(255,255,255,.9) !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px !important;
    outline: 0px none;
    box-shadow: none;
}
.modal-title {
    margin: 0px;
    line-height: 1.42857;
    text-align: center;
    text-transform: uppercase;
    color: #1D7299;
    font-weight: bold;
}
.modal-body p{
  line-height: 27px;
color: #000;
opacity: .6;
}
.modal-content {
    background: rgba(255,255,255,.9);
    border-radius: 0px;
    box-shadow: none;
}
.modal-lg {
    padding-top: 100px;
}



/*==============================
         menu-bar
==============================*/\
.navigation-bar{
  width: 100%;
  height: auto;
  background: url('../img/header-bg.jpg') center center;
}
.top-bar{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.line2{
  background: #00a24f;
  height: 5px;
  width: 100%;
}
.top-bar-button{
  list-style: none;
  text-align: right;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -5px;
  float: right;
}
.top-bar-button li{
  float: left;
}
.top-bar-button li .signup{
  background: #00a24f;
  color: #fff;
  padding: 9px 27px;
  vertical-align: middle;
  display: table-cell;
  border-radius: 0px 0px 0px 3px;
  font-size: 15px;
  font-weight: 100;
}
.top-bar-button li .login{
  background: #0090b2;
  color: #fff;
  padding: 9px 27px;
  vertical-align: middle;
  display: table-cell;
  border-radius: 0px 0px 3px 0px;
  font-size: 15px;
  font-weight: 100;
}
.top-bar-button li .signup:hover{
  text-decoration: none;
}
.top-bar-button li .login:hover{
  text-decoration: none;
}
.logo{
  float: left;
  width: 30%;
}
.toll{
  width: 40%;
  float: left;
}
.toll img{
  width: 110px;
  display: block;
  margin: 0 auto;

} 
.query{
  float: right;
  width: auto;
  width: 30%;
}
.query h5{
  font-size: 19px;
  color: #000;
  padding: 10px 0px;
  float: right;
}
.query h5 .have-any-que{
  color: #a9abaa;
  font-style: italic;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.query h5 .call-us{
  font-size: 19px;
  color: #000;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}
.logo-navbar{
  padding: 5px 0px 20px 0px;
}
.menus{
  padding-left:0px;
  margin: 0px;
}

nav {
  width: 100%;
  background-color:#0091b2;
  border-top: 1px solid #00983b;
  border-bottom: 1px solid #00983b;
}

nav .menus li {
  display: inline-block;
  padding: 8px 0px;
  float: left;
}
nav a {
  color:#fff;
  display:block;
  text-decoration: none;
  padding:7px 30px;
  border-right:1px solid #33a7c1;
}
.border-none{
  border-right:1px solid #0091b2 !important;
}
nav a:hover {
  text-decoration: none;
  color: #fff;
  border-right:1px solid #33a7c1;
}
nav li:hover {
  background: #007f9d;
}
.menu-trigger {
  display:none;
  color:#F8ECC2;
}





/*==============================
         slide-bar
==============================*/
.banner-box{
  width: 768px;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left: -384px;
  height: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
 .banner-box h3 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    line-height: 1;
    width: 100% !important;
}
.banner-box .box-blue{
  width: 33.3%;
  max-width: 100%;
  float: left;
  height: auto;
  background: rgba(0,145,178,.8);
  border-bottom: 8px solid #0091b2;
  color: #fff;
}
.banner-box .box-green{
  width: 33.3%;
  max-width: 100%;
  float: left;
  height: auto;
  background: rgba(0,149,72,.8);
  border-bottom: 8px solid #00a24f;
  color: #fff;
}
.box-blue:hover,.box-green:hover{
  text-decoration: none;
  color: #fff;
}
.box-blue h4,.box-green h4{
  padding: 10px 26px;
}
.box-blue h4 span,.box-green h4 span{
  display: block;
  font-weight: bold;
}



/*==============================
         about-doctor
==============================*/
.about-doctor{
  width: 100%;
  height: auto;
  padding: 20px 0px;
}
.main-info{
  width: 100%;
  height: auto;
  padding-top: 65px;
  display: block;
  overflow: hidden;
}
.padding-none{
  padding: 0px;
  margin: 0px;
}
.text-part{
  width: 100%;
  height: auto;
}
.image-part{
  width: 100%;
  height: auto;
}
.image-part img{
  display: table-cell;
  position: relative;
  bottom: 0;
}
.text-part h4{
  font-size: 30px;
  color: #cacaca;
  font-weight: bold;
  margin: 0px;
}
.text-part h3{
  font-size: 40px;
  color: #0291b1;
  font-weight: bold;
  margin-top: 2px;
}
.text-part p{
  color: #B9B9B9;
  font-size: 13px;
  font-style: normal;
  padding-top: 16px;
  line-height: 24px;
}
.text-part span{
  color: #a3a3a3;
  font-size: 14px;
  font-style: italic;
}
.text-part img{
  padding: 40px 0px;
}
.image-part img{
    max-width: 100%;
    height: auto;
}
.about-thumb{
  width: 100%;
  height: auto;
  padding: 30px 0px;
}
.hovereffect{
  width: 100%;
  height: auto;
}
.hovereffect img{
  max-width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,145,178,0.9);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
  padding:40px 30px;
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}

.hovereffect h4{
  font-size: 22px;
  text-align: left;
  color: #fff;
}
.hovereffect p.info {
  color:#fff;
  background-color:transparent;
  opacity:0;
  text-align: left;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  line-height: 23px;
  font-size: 13px;
  cursor: pointer;
  vertical-align: middle;
  display: table-cell;
}

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover p.info {
opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover p.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
}


/*==============================
         our services
==============================*/
.services{
  width: 100%;
  height: auto;
  background: url('../img/service.jpg');
  background-size:cover;
  color: #fff; 
  padding:60px 0px;
}
.our-services{
  width: 100%;
}
.our-services h2{
  font-size: 30px;
  font-weight: bold;
}
.our-services p {
  line-height: 28px;
  padding-right: 100px;
  color: #C2E4EC;

}

.services-topics{
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: block;
  overflow: hidden;
  min-height: 236px;

}
.left-part{
  width: 25%;
  margin-left: 3%;
  float: left;
  display: inline-table;
}
.left-part img{
  position: relative;
  top:0;
  left: 0;
}
.right-part{
  width: auto;
  float: left;
  width: 72%;
}
.right-part h4{
  font-size: 18px;
  font-weight: bold;
}
.right-part p {
  font-size: 14px;
  color: #C2E4EC;
  line-height: 25px;
  padding-right: 36px;
}

/*==============================
      our team
==============================*/
.our-team{
  width: 100%;
  height: auto;
  padding-top: 40px;
  text-align: center;
}

.team-box-1{
  width: 100%;
  height: auto;
}
.team-box-1 img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.team-box-1 h4{
  text-align: center;
  color: #0091b2;
  font-weight: bold;
  padding: 10px 0px;
  font-family: 'Open Sans',sans-serif !important;
}
.team-box-1 h6{
font-size: 14px;
font-weight: 600;
color: #B2B2B2;
}
.team-box-1 p{
 text-align: center;
 font-size: 13px;
 padding: 10px 16px;
 display: block;
}
.team-box-1 a{
  display: inline-block;
background: #0091B2;
padding: 7px 20px;
color: #fff;
}
.team-box-1 a:hover{
text-decoration: none;
}
.add-background{
  background: #f8f8f8;
}


/*==============================
       what  our client says
==============================*/
section {
    padding-top: 100px;
    padding-bottom: 0px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}
.clients {
    font-size: 30px;
    color: #FFF;
    font-weight: 100 !important;
    font-family:"Open Sans",sans-serif !important;
}
.clients span{
  font-weight: 500;
}
#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #FFF;
    border: medium none;
    border-radius: 0px;
    padding: 0px 15px;
    height: 5px;
    margin-bottom: -1px;
}
.carousel-indicators .active {
    background-color: #00c4f0 !important;
    border: medium none;
    border-radius: 0px;
    padding: 0px 20px;
    height: 6px;
    margin: 0px;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: #fff;
    font-family: Lato, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
}
#fade-quote-carousel .profile-circle {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 140px;
    background: url('../img/testi-1.png') center center;
}
.text-client{
    margin-bottom: 0px;
    padding: 20px 0px;
}
.testimonial{
  width: 100%;
  height: auto;
  background: url('../img/testimonial-slider.png');
}
.item h3{
  text-align: center;
  color: #fff;
}
.item p{
    text-align: center;
  color: #fff;
}
.testimonial-slider{
  width: 100%;
  height: auto;
  background: #2c3139;
}
.testimonial-slider ul {
    list-style: outside none none;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 20px;
}
.testimonial-slider ul li{
  display: inline-block;
  padding: 0px 20px;
}
.testimonial-slider ul li img{
max-width: 100%;
}
.testimonial{
  padding: 40px 0px;
}

/*==============================
       extra text
==============================*/
.line-height{
  line-height: 28px;
}
.text-add h5{
  font-weight: bold;
}

/*==============================
		partner section
==============================*/
.Sub-Centres {
    width: 100%;
    height: auto;
    padding: 40px 0px;
	background:#F9F9F9;
}
.custom-slide{
	padding:50px 0px;
}
#owl-demo .item{
  background:none;
  padding: 0px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.prev1, .next1{
	background:#0090b2;
	color:#fff;
}
.roundshape {
    position: relative;
    /* top: 0; */
    color: #000;
    z-index: 9999999999999;
    background: #0090B2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    /* left: 50%; */
    /* margin-left: -25px; */
    display: inline-block;
    text-align: center;
    bottom: -10px;
    color: #fff;
    border: 1px solid #ccc;

}
.item-text{
	display: block;
    padding: 10px;
    border: 1px solid #ccc;
	min-height:115px;
}
.item-text h4{
	color:#0090b2;
}
.partner {
    width: 100%;
    height: auto;
    padding: 40px 0px;
	background:url("../img/partner-bg.jpg") repeat;
}
#owl-demo2 .item{
  background:none;
  padding: 0px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.prev1, .next1{
	background:#0090b2;
	color:#fff;
}
.roundshape2 {
    position: relative;
    /* top: 0; */
    color: #fff;
    z-index: 9999999999999;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    /* left: 50%; */
    /* margin-left: -25px; */
    display: inline-block;
    text-align: center;
    bottom: -10px;
    color: #0090B2;
    border: 1px solid #fff;

}
.item-text2{
    display: block;
    padding: 10px;
    border: 1px solid #095163;
    min-height: 68px;
    color: #fff;
    background: #13677B;
}
.item-text2 h4{
	color:#0090b2;
}
.item-text2 p{
	color:#fff !important;
}
.partner .press-info h2, .partner .press-info p{
	color:#fff;
	padding-top: 10px;

}
#owl-demo2 .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #FFFFFF;
}
#owl-demo2 .owl-controls .owl-page.active span, #owl-demo2 .owl-controls .owl-page:hover span {opacity:1;}


/*==============================
       press
==============================*/
.press{
  width: 100%;
  height: auto;
  padding: 40px 0px;
}
.press-info{
  width: 100%;
  height: auto;
}
.press-info h2{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #b2b2b2;
}
.press-info p{
  text-align: center;
  color: #8A8989;
  font-size: 14px;
  line-height: 26px;
}
.press-info p span{
  text-align: center;
  color: #b2b2b2;
  display: block;
}
.press-info-section{
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 33px;
}
.press-img-part{
  width: 100%;
  height: auto;
}
.press-img-part img{
  max-width: 100%;
  display: block;
  margin: 0 auto;

}
.press-text-part{
  color: #A4A2A2;
  font-weight: bold;
 padding-left: 20px;
  border-left: 3px solid #ccc;
}
.press-text-part h4{
    color: #A4A2A2;
  font-weight: bold;
  text-align: left;
}
.press-text-part p{
font-size: 13px;
text-align: left;
line-height: 20px;
font-weight: 100;
}
.press-text-part span{
  font-size: 13px;
  font-weight: normal;
}



/*==============================
       footer
==============================*/
.footer{
  width: 100%;
  height: auto;
  padding-top: 40px;
  background: #f8f8f8;
}
.footer-info{
  width: 100%;
  height: auto;
}
.footer-info h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #B2B2B2;
}
.footer-info p {
    text-align: center;
    color: #B2B2B2;
    font-size: 14px;
    line-height: 26px;
}
.footer-info p span {
    text-align: center;
    color: #B2B2B2;
    display: block;
}
.map{
  width: 100%;
  height: auto;
      overflow: hidden;
	  max-width:100%;
}
.map img{
  max-width: 100%;
  height: auto;
}
.form{
  width: 100%;
  height: auto;
}
.form h3{
  margin-top:0px;
  text-transform: uppercase;
  color: #00A3C8;
  font-size: 17px;
  font-weight: 500;
  font-family: "Open Sans",sans-serif !important;
}
.line{
  height: 2px;
  background: #00A3C8;
  width: 80px;
  display: block;
}
.form-custom {
    padding: 21px 0px;
}
.add-style {
    height: 44px;
    box-shadow: none !important;
    border-radius: 0px;
    background: #f8f8f8;
    margin: 7px 0px;
}
.add-class{
  background: #00a3c8;
  padding: 9px 26px;
  border:0;
  font-size: 15px;

}
.add-class:hover{
  background: #00a3c8;
  padding: 9px 26px;
  border:0;
  font-size: 15px;

}
.add-height{
  min-height: 160px;
}
.footer-section {
    width: 100%;
    height: auto;
    padding-top: 51px;
   overflow: hidden;
    padding-bottom: 20px;
}
.services-footer{
  width: 100%;
  height: auto;
}
.footer-box1{
  width: 100%;
  height: auto;
  background: #0090b2;
  padding: 12px 30px;
  display: block;
  overflow: hidden;
}
.footer-box2{
  width: 100%;
  height: auto;
  background: #0283a2;
  padding: 12px 30px;
  display: block;
  overflow: hidden;
}
.footer-box3{
  width: 100%;
  height: auto;
  background: #017791;
  padding: 12px 30px;
  display: block;
  overflow: hidden;
}
.left-part-services-footer{
width: 110px;
padding-right: 23px;
float: left;
max-width: 100%;
}
.right-part-services-footer{
  width: auto;
  float: left;
  color: #fff;
  width: 193px;
  max-width: 100%;
}
.right-part-services-footer h4{
    font-weight: 600;
}
.bottom-footer{
  width: 100%;
  height: auto;
  background: #00343f;
  padding-bottom: 40px;
}
.footer-logo{
  width: 100%;
  height: auto;


}
.footer-logo img{
  display: block;
  margin: 0 auto;
  padding: 50px;
}
.section-1{
  width: 100%;
  height: auto;
}
.section-1 h4{
  font-weight: 600px;
  color: #fff;
}
.section-1 ul{
  margin-left: 0px;
  list-style: none;
  color: #e9e9e9;
  padding-left: 0px;
}
.section-1 ul li a{
    color: #fff;
    opacity: .5;
    line-height: 27px;
    text-decoration: none;
}
.section-1 ul li a:hover{
  text-decoration: none;
}
.section-2{
  width: 100%;
  height: auto;
}
.section-2 p{
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px dashed #325b64;
  color: #fff;
}
.section-2 h5{
text-align: center;
    color: #fff;
    font-size: 19px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.add-style2{
  background: #33343f;
  color #ccc;
  border:none;
  border-radius: 3px;
  height: 40px;
    box-shadow: none !important;
    border-radius: 0px;
}
.sign-footer {
    color: #fff;
    padding: 9px 21px;
    /* line-height: 51px; */
    border: 1px solid #fff;
    background: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
      text-align: center;
}
.sign-footer:hover {
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.section-3{
  width: 100%;
  height: auto;
}
.section-3 h4{
  font-weight: 600px;
  color: #fff;
  text-align: right;
}
.section-3 p{
  color: #e9e9e9;
  text-align: right;
  opacity: .5;
}
.social-footer {
    width: 100%;
    height: auto;
    margin: 25px 0px 0px;
    display: block;
    overflow: hidden;
}
.social-footer ul {
    list-style: outside none none;
    color: #FFF;
    display: block;
    overflow: hidden;
    float:right;
    padding-left: 0px;
    text-align: center;
}
.social-footer ul li {
    float: none;
    padding: 0px 0px;
    display: inline-block;
}
.social-footer ul li a{
  color: #fff;
}
.social-footer ul li a .fa {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 0px;
    line-height: 30px;
    cursor: pointer;
}
.social-footer ul li .fa-facebook {
    background: #395BA2 none repeat scroll 0% 0%;
}
.social-footer ul li .fa-linkedin {
    background: #0077B5 none repeat scroll 0% 0%;
}
.social-footer ul li .fa-twitter {
    background: #17C4EC none repeat scroll 0% 0%;
}
.social-footer ul li .fa-skype {
    background: #00aff0 none repeat scroll 0% 0%;
}
.copyright-box{
  width: 100%;
  height: auto;
  background: #00a24f;
  padding: 15px 0px;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
}
.copyright-box .left{
  float: left;
}
.copyright-box .right{
  float: right;
}
.footerline{
  height: 1px;
  width: 100%;
  position: relative;
  top:-1px;
  background: #00343f;
}
.services-footer{
  background: url('../img/footer-services-bg.png') repeat-x center center;
 /* background: repeating-linear-gradient(#F8F8F8, #F8F8F8 49.9%, #00343F 50%, #00343F 100%);
  background: -moz-repeating-linear-gradient(#F8F8F8, #F8F8F8 49.9%, #00343F 50%, #00343F 100%);*/
}
.newsltr{
  display: block;
  overflow: hidden;
}
iframe{
  max-width: 100%;
}








/*=============================================Responsive css==============================*/
@media(max-width:1200px){
	.item-text{
	min-height:139px;
}
}
/*===========For max 1024px   =========*/
@media screen and (max-width:1024px) {
.hovereffect p.info{
  display: none;
}
.hovereffect h4 {
    font-size: 22px;
    text-align: center !important;
    color: #FFF;
    display: block;
    vertical-align: middle;
    line-height: 75px;
}
.footer-box2{
  min-height:175px;
}

.logo img {
    max-width: 100%;
}
.toll{width: 30%;}
.toll img{
  width: 90px;
}
.query{width: 40%;}
/*.image-part img {
    display: table-cell;
    position: relative;
    bottom: 0px;
}
.main-info {
    width: 100%;
    height: auto;
     padding-top: 20px;
    display: inline-block;
}*/
}



/*===========For max 768px   =========*/
@media screen and (max-width:768px) {
.menu-trigger {
  display:inline-block;
  border:0;
}
.menu-trigger:hover {
  border:0;
}
.toggle-img{
  float: right;
}
.banner-box h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.toggle-text{
  float: left;
}
.menu-trigger img {
    float: right;
    margin-top: 5px;
}
.query h5 {
    font-size: 19px;
    color: #000;
    padding: 10px 10px;
}
nav .menus li {
  display:block !important;
  border-top:1px #79896D solid;  
  float: none;
  text-align: center;  
}
nav .menus {
  display:none;
}
nav .menus li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 7px 30px;
    border-right: 0px solid #33A7C1 !important;
}
nav .menus li a:hover {
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 7px 30px;
    border-right: 0px solid #33A7C1 !important;
}
nav .menus li {
    display: block !important;
    border-top: 1px solid #007693;
    float: none;
    text-align: center;
}
.hovereffect p.info{
  display: none;
}
.hovereffect h4 {
    font-size: 17px;
    text-align: center !important;
    color: #FFF;
    display: block;
    vertical-align: middle;
    line-height: normal;

}
.right-part h4 {
    font-size: 13px;
    font-weight: bold;
}
.right-part p {
    font-size: 11px;
    color: #C2E4EC;
    line-height: 20px;
    padding-right: 0px;
}
.our-services h2 {
    font-size: 23px;
    font-weight: bold;
}
.text-part h4 {
    font-size: 23px;
}
.text-part h3 {
    font-size: 28px;
}
.text-part span {
    color: #A3A3A3;
    font-size: 13px;
    font-style: italic;
}
.text-part p {
    font-size: 12px;
    line-height: 20px;
}
.our-services p {
    line-height: 20px;
    padding-right: 0px;
    font-size: 12px;
}
.press-info h2 {
    font-size: 23px;
}
.press-info p {
    font-size: 12px;
    line-height: 20px;
}
.team-box-1 h4 {
    font-size: 14px;
    font-family: 'Open Sans',sans-serif !important;
    margin: 0px;
}
.team-box-1 h6 {
    font-size: 12px;
    font-weight:normal;
    margin: 0px;
}
.clients {
    font-size: 23px;
}
.item p {
    font-size: 12px;
    line-height: 20px;
}
.item h3 {
    font-size: 19px;
}
.press-text-part h4 {
    font-size: 17px;
}
.press-img-part img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}
.text-add h3{
  font-size: 23px;
}
.text-add h4 {
    font-size: 14px;
}
.text-add p {
    font-size: 12px;
}
.footer-info h2 {
    font-size: 23px;
}
.footer-info p {
    font-size: 12px;
    line-height: 20px;
}
.add-style {
    height: 33px;
    font-size: 12px;
    margin: 0px;
}
.add-height {
    min-height: 57px;
}
.left-part-services-footer {
    width: 110px;
    padding-right: 5px;
    float: left;
}
.right-part-services-footer h4 {
    font-size: 14px;
}
.right-part-services-footer p {
    font-size: 12px;
}
.section-1 ul li a {
    line-height: 20px;
    font-size: 12px;
}
.section-2 p {
  font-size: 12px;
}
.section-3 p {
    font-size: 12px;
}
.section-2 h5 {
    font-size: 15px;
}
.sign-footer {
    padding: 9px 6px;
    font-size: 12px;
}
.copyright-box .left {
    font-size:12px;
}
}


/*===========For max 640px   =========*/
@media(max-width: 740px){
.services-topics{
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: block;
  overflow: hidden;
  min-height: 1px;

}
	.item-text{
	min-height:114px;
}
}

/*===========For max 640px   =========*/
@media(max-width: 640px){
.banner-box {
    margin-left: 0px;
    left: 0%;
}
.hovereffect {
    margin: 10px 0px;
    width: auto;
    display: block;
    vertical-align: middle;
    position: relative;
    left: 50%;
    margin-left: -200px;

}
.logo img{
  width: 230px;
  max-width: 100%;
}
.query {
    float: right;
    width: auto;
    padding: 0px 10px;
}
.query h5 .call-us {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    font-family: "Lato",sans-serif;
}
.image-part img {
    display: table-cell;
    position: relative;
    bottom: 0px;
}
.main-info {
    width: 100%;
    height: auto;
     padding-top: 20px;
    display: inline-block;
}
.team-box-1 {
    width: 100%;
    height: auto;
    margin: 20px 0px;
}
.hovereffect h4 {
    font-size: 17px;
    text-align: center !important;
    color: #FFF;
    display: block;
    vertical-align: middle;
    line-height: 146px;
}
.press-text-part span {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    display: block;
}
.press-info p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.press-text-part h4 {
    font-size: 17px;
    text-align: center;
}
.press-text-part {
    color: #A4A2A2;
    font-weight: bold;
    padding-left: 0px;
    border-left: 0px solid #CCC;
}
.map {
    width: 100%;
    height: auto;
    margin: 15px 0px;
}
.form {
    width: 100%;
    height: auto;
    margin: 15px 0px;
}
.left-part-services-footer {
    width: 110px;
    padding-right: 5px;
    float: left;
    display: none;
}
.section-3 p {
    color: #E9E9E9;
    text-align: center;
    opacity: 0.5;
}
.section-3 h4 {
    color: #FFF;
    text-align: center;
}
.social-footer ul {
    float: none;
    text-align: center;
}
.section-3 {
    width: 100%;
    height: auto;
    padding-top: 40px;
}
.section-2 p {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px dashed #325B64;
    color: #FFF;
    padding-top: 47px;
}
.section-1 ul {
    margin-left: 0px;
    list-style: outside none none;
    color: #E9E9E9;
    padding-left: 0px;
    text-align: center;
}
.top-bar-button li .signup, .top-bar-button li .login{
  font-size: 10px;
}
.banner-box{
  position: relative;
}
.right-part-services-footer{
  width: 100%;
}
.footer-box2{
  min-height: 1px;
}
.services-footer{
  background:none;
}
.mar-btm{
  margin-bottom: 12px;
}
.section-1 h4 {
    color: #FFF;
    text-align: center;
}
.section-1 ul li a {
   text-decoration: underline;
}
.footer-logo img {
    display: block;
    margin: 0px auto;
    padding: 26px;
    max-width: 100%;
    width: 230px;
}
.toll{
  width: 100%;
}
.query h5{float: none;}
}





/*===========For max 480px   =========*/

@media(max-width:480px){
  .hovereffect h4 {
    line-height: 145px;
}
 .box-green h4{
font-size: 13px;
padding: 5px;
}
.box-blue h4{
font-size: 13px;
padding: 5px;
}

.banner-box h3 {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
.box-green h4 {
    font-size: 11px !important;
    padding: 5px;
}
.box-blue h4 {
    font-size: 11px !important;
    padding: 5px;
}
.query {
    float: none;
    padding: 0px 10px;
}
.query h5 {
    text-align: center;
}
.logo {
    float: none;
    width: auto;
    padding-top: 10px;
}
.logo img {
    display: block;
    margin: 0px auto;
    width: 230px !important;
}
.text-add h3 {
    font-size: 18px;

}
.footer-logo img {
    display: block;
    margin: 0px auto;
    padding: 26px;
    max-width: 100%;
}
.hovereffect {
  width: 100%;
    display: block;
    vertical-align: middle;
    position: relative;
    left: 0%;
    margin: 20px 0px;
}
}




/*===========For max 360px   =========*/
@media(max-width:360px){
  .box-green h4{
font-size: 13px;
padding: 5px;
}
.box-blue h4{
font-size: 13px;
padding: 5px;
}
.query {
    float: none;
    padding: 0px 10px;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 0px;
}
.query h5 {
    text-align: center;
}
.logo {
    float: none;
    width: auto;
    padding-top: 10px;
}
.logo img {
    display: block;
    margin: 0px auto;
    width: 230px !important;
}
.text-add h3 {
    font-size: 20px;
}
.footer-box2 {
    padding: 12px 10px;
}
.footer-box3 {
    padding: 12px 10px;
}
.footer-box1 {
    padding: 12px 10px;
}
.footer-logo img {
    display: block;
    margin: 0px auto;
    padding: 26px;
    max-width: 100%;
    width: 230px;
}
.hovereffect {
  width: 100%;
    display: block;
    vertical-align: middle;
    position: relative;
    left: 0%;
    margin: 20px 0px;
}

.hovereffect h4 {
    line-height: 86px;
}
}


/*===========For max 375px   =========*/
@media screen and (max-device-width: 375px) and (max-device-height: 667px) { 
.text-add h3 {
    font-size: 17px;
}
.footer-logo img {
    display: block;
    margin: 0px auto;
    padding: 26px;
    max-width: 100%;
    width: 230px !important;
}
 }



/*===========For max 360px   =========*/
@media(max-width:360px){
.logo img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
}
.hovereffect h4 {
    line-height: 66px;
}
}