@charset "UTF-8";
.Accordion {   overflow: hidden; border-left: solid 1px #D7D7D7; border-right: solid 1px #D7D7D7; border-bottom: solid 1px #D7D7D7; }
.AccordionPanel { margin: 0px; padding: 0px; }
.AccordionPanelTab {  background: url(../images/tabs-bg.png);  border-top: solid 1px #D7D7D7; margin: 0px; padding: 8px 15px; cursor: pointer; -moz-user-select: none; -khtml-user-select: none;color:#777; font-weight:bold;}
.AccordionPanelContent { overflow: auto; margin: 0px; padding:5px  15px; height: 200px; }
.AccordionPanelOpen .AccordionPanelTab { background-color: #EEEEEE;color:#900; }
.AccordionPanelTabHover { color: #900; }
.AccordionPanelOpen .AccordionPanelTabHover { color: #900; }
.AccordionFocused .AccordionPanelTab { background-color: #3399FF; }
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab { background-color: #33CCFF; }
/* Rules for Printing */

@media print {
.Accordion { overflow: visible !important; }
.AccordionPanelContent { display: block !important; overflow: visible !important; height: auto !important; }
}
