

@font-face {
    font-family: 'octopus_rounded_500medium';
    src: url('octopus_rounded_1-webfont.eot');
    src: url('octopus_rounded_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('octopus_rounded_1-webfont.woff2') format('woff2'),
         url('octopus_rounded_1-webfont.woff') format('woff'),
         url('octopus_rounded_1-webfont.ttf') format('truetype'),
         url('octopus_rounded_1-webfont.svg#octopus_rounded_500medium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'octopus_rounded_300light';
    src: url('octopus_rounded_0-webfont.eot');
    src: url('octopus_rounded_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('octopus_rounded_0-webfont.woff2') format('woff2'),
         url('octopus_rounded_0-webfont.woff') format('woff'),
         url('octopus_rounded_0-webfont.ttf') format('truetype'),
         url('octopus_rounded_0-webfont.svg#octopus_rounded_300light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'octopus_rounded_100light';
    src: url('octopus_rounded-webfont.eot');
    src: url('octopus_rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('octopus_rounded-webfont.woff2') format('woff2'),
         url('octopus_rounded-webfont.woff') format('woff'),
         url('octopus_rounded-webfont.ttf') format('truetype'),
         url('octopus_rounded-webfont.svg#octopus_rounded_100light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'octopus_rounded_700regular';
    src: url('octopus_rounded_2-webfont.eot');
    src: url('octopus_rounded_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('octopus_rounded_2-webfont.woff2') format('woff2'),
         url('octopus_rounded_2-webfont.woff') format('woff'),
         url('octopus_rounded_2-webfont.ttf') format('truetype'),
         url('octopus_rounded_2-webfont.svg#octopus_rounded_700regular') format('svg');
    font-weight: normal;
    font-style: normal;

}