.myloginscreen{
  width:350px;
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}
.login{
  width: 100%;
  height: 300px;
/*  background: #ccc;*/
  margin: 160px 0px 20px 0px;

}
.login h3{
  text-align: center;
  color: #21af67;
  font-size: 30px;
}
.loginbox{
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.loginbox h5{
  display: block;
  background: #21af67;
  color: #fff;
  text-align: center;
  padding: 9px 4px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300; 
  text-transform: uppercase;
}
.login_inner{
  width: 100%;
  height: auto;
  padding: 30px;
}
.login_input{
  margin: 10px 0px;
}
.input-group-addon {
    padding: 6px 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.one {
    padding: 6px 14px !important;
}
.customlogin{
    height: 43px !important;
}
.changecolor{
  display: block;
  color: #fff;
  background: #21af67;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid #0e9350;

}
.changecolor:hover{
  text-decoration: none;
  color: #fff;
  background: #0e9350;
  cursor: pointer;
}
.perinfo{
  width: 100%;
  height: auto;
  overflow: hidden;
}


/*--------------------------Responsive css---@-------------------------*/

/*------------max-width-768px--------*/
@media (max-width: 768px){
    .login{
    width: 100%;
    height: 300px;
    margin: 240px 0px 20px 0px;
    }
}



/*------------max-width-640px--------*/
@media (max-width: 640px){
    .login{
    width: 100%;
    height: 300px;
    margin: 20px 0px 20px 0px;
    }
}


/*------------max-width-480px--------*/
@media (max-width: 480px){
    .login{
    width: 100%;
    height: 300px;
    margin: 20px 0px 20px 0px;
    }
}


/*------------max-width-360px--------*/
@media (max-width: 360px){
    .login{
    width: 100%;
    height: 300px;
    margin: 80px 0px 20px 0px;
    } 
}


/*------------max-width-320px--------*/
@media (max-width: 320px){
    .login{
    width: 100%;
    height: 300px;
    margin: 80px 0px 20px 0px;
    } 
}