#loader{width:100%;height:100%;background:rgba(0,0,0,0.7);position:fixed;top:0; left:0; z-index:9999; overflow:hidden;display:none;}
#loader img {
    z-index: 99999999;
    top: 50%;
    left: 50%;
    position: relative;
    margin-left: -40px;
    margin-top: -40px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
/*changes on 18-01-2016--*/
.align-left > thead > tr > th, .align-left > tbody > tr > th, .align-left > tfoot > tr > th, ..align-left > thead > tr > td, .align-left > tbody > tr > td, .align-left > tfoot > tr > td {
    padding: 8px 15px;
    text-align: center !important;
}

/*---timeline-php----*/
.add-timeline-php{
	padding:0px !important;
}
.nav-right-hide .vd_head-section, .no-nav-right .vd_head-section, .nav-right-hide .vd_content-section, .no-nav-right .vd_content-section, .nav-right-hide .vd_title-section, .no-nav-right .vd_title-section {
    margin-right: 0px !important;
}

.addstyle {
   font-size: 30px;
    color: #1FAE66;
}
ul.information li .timeline-span {
    font-size: 12px;
    font-weight: bold;
    color: #E65821;
    padding: 0px 10px;
}
.modal-body-heading{
	background: #FFFFFF;
    padding-bottom: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #21AF67;
}
.panel-content{
	width:100%;
	height:auto;
	margin:10px 0px;
}
.Appointment-box {
    overflow: hidden !important;
    min-height: 55px;
}
.widget .vd_panel-menu {
    right: 15px !important;
    top: 1px !important;
}
.vd_panel-menu .menu-trigger {
    display: block !important;
    line-height: 16px !important;
}
.modal-body {
    background: #FFFFFF;
    padding-bottom: 40px;
    overflow: hidden !important;
}
/*error msg css-----*/
.error-msg{
	background:#1fae66 !important;
	color:#fff;
	padding:10px;
	text-align:left;
	display:block;
	margin-bottom:20px;
}
.error-msg2{
	background:#f85d2c !important;
	color:#fff;
	padding:10px;
	text-align:left;
	display:block;
	margin-bottom:20px;
}
.cols-kk3 {
     float:none !important;
    display: block !important;
    overflow: hidden !important;

}
.cols-kk2 {
    float:none !important;
    width: 100% !important;
	    display: block !important;
    overflow: hidden !important;
}

/*--------customize css----------------------*/
/*-----timeline------*/
 section#timeline {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

/* the LINE */
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 4%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #B3B3B3;
}

/* each section */
section#timeline article {
  width: 100%;
  margin: 0 0 50px 0;
  position: relative;
}

/* section clear divs */
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}

/* dots */
section#timeline article div.inner span.step {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 5%;
  margin: 0 0 0 -30px;
  border-radius: 100%;
  border: 5px solid #1FAE66;
  font-size: 1.7em;
  background: #242729;
  color: #fff;
  text-align: center;
  padding: 0px;
     line-height: 39px;
}


/* right column */
section#timeline article div.inner {
  width: 90%;
  float: left;
  border-radius: 6px;
  margin-left: 10%;
}


/*--------customize css----------------------*/
.patient-history{
  display: inline-block;
  background: #1FAE66;
  color: #fff;
  padding: 2px 10px;
  margin: 2px 0px;
}
.history-btn{
  width: 100%;
  height: auto;
}
.patient-history a{
  color: #fff;
}
.patient-history a:hover{
  color: #fff;
}
.app{
  width: 100%;
  height: auto;
  margin: 8px 0px;
}
.app-doctor{
  padding: 5px;
  border:1px solid #ccc;
  list-style: none;
  font-size: 12px;
  padding:5px;
}

.doctor-heading {
    width: 100%;
    height: auto;
    padding: 0px;
    color: #FFF;
    background: #1FAE66 none repeat scroll 0% 0%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
}
ul.information-timeline {
    width: 100%;
    height: auto;
    list-style: outside none none;
    padding: 0px;
    margin: 0px;
}
ul.information-timeline li {
    border-bottom: 1px solid #EDECEC;
    border-left: 1px solid #EDECEC;
    margin: 6px 0px;
    padding: 1px 0px;
    font-size: 12px;
}
ul.information-timeline li span {
    font-size: 12px;
    font-weight: bold;
    color: #E65821;
    padding: 0px 20px;
}
.section-body {
    padding: 15px 25px 25px;
    background: #fff;
    overflow: hidden;
}
.nextbutton{
  padding: 20px 0px;
}
.white{
  color: #fff !important;
}
.btn-gap{
  margin:0px 1px;
}
.control-label {
    font-size: 12px !important;
}
.searchbox{
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: block;
  overflow: hidden;
}
.custom-back-btn {
    top: -7px !important;
    right: 15px;
}
.form-edit-col-6{
  padding: 20px;
  margin: 30px 0px;
  /*border:1px solid #ccc;*/
}
.que_heading_medical {
    color: #060;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 45px;
    margin-bottom: 10px;
    display: block;
}
.time-sloat{
  margin-top: 10px;
  margin-bottom: 40px;
}
.overflow-hidden {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #EDECEC;
    overflow: hidden;
}
.submit-btn{
  padding: 30px;
  margin: 0px;
}
.time{
  background:#1FAE66;
  color:#fff;
  padding:0px 10px;
}
.custom-heading{
  background: #1FAE66;
  padding: 2px 5px;
  text-align: center;
  color: #fff;
}
.custom-heading a{
  color:#fff !important;
}
.custom-heading a:after {
    font-family:'Glyphicons Halflings';
    content: "\2212";
    float: left;
    color: #fff;
    font-weight: 100;
}
.custom-heading a.collapsed:after {
    content: "\2b";
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 1px !important;
    font-size: 13px;
    font-weight: 100;
}
.table-bordered > thead > tr > th span{
  font-weight: bold;
}
.table-bordered a{
  text-decoration: underline;
}
.table-custom > thead > tr > th, .table-custom > thead > tr > td {
    border-bottom-width: 1px !important;
    font-size: 13px;
    font-weight: 100;
}
.table-custom > thead > tr > th span{
  font-weight: bold;
}
.table-custom a{
  text-decoration: underline;
}
.part-two{
  width: 50%;
}

.time a{
  color:#fff; 
  cursor:pointer;
}
.top_margin{
  margin-top:30px;
}
.border_style{
  padding:10px 15px;
  font-size:12px;
  margin:5px 0px;
}
.top-part {
    width: 100%;
    height: auto;
    margin: 0px;
    display: block;
    overflow: hidden;
    background: #F5F5F5 none repeat scroll 0% 0% !important;
    padding: 5px 20px;
}
.info-icon .fa-flask {
    font-size: 30px;
    color: #1FAE66;
}
.info-part {
    width: 100%;
    height: auto;
    margin: 40px 0px;
    padding: 10px;
    border: 1px solid #E7E7E7;
    background: #f7f8f8;
}
.info-body{
  width: 100%;
  padding: 10px 0px;
}
.category-text {
    margin-left: 0px;
    padding: 3px 0px;
    font-size: 13px;
}
.info-category{
  margin:0px 0px;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
}
.category-text span{
  font-weight: bold;
}
.vd_bg-yellow {
    background-color: #F89C2C !important;
    line-height: 32px !important;
}
.info-icon{
  width: auto;
  display: inline-block;
  float: left;
}
.map-btn{
  width: auto;
  display: inline-block;
  float: right;
}
.fright{
  float: right;
}
.Patient-info {
    width: 100%;
    height: auto;
    padding-top:0px;
    padding-bottom: 20px;
    display: block;
    overflow: hidden;
}
.panel-heading {
    position: relative;
    padding: 7px 15px;
}
.panel-title {
    color: #fff;
}
.popupul{
  list-style: none;
  padding-left: 0px;
}
.modal.in .modal-dialog {
    transform: translate3d(0px, 0px, 0px);
    z-index: 999999 !important;
}
.popupul li{
  margin: 5px 0px;
}
.comment-box{
  padding: 20px;
margin: 10px 0px !important;
}
.information{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.nastingul{
  width: 100%;
  height: auto;
  padding-left: 50px;
}
.nastingul ul{
  margin-bottom: 10px;
}
.text-input li{
 float: left;
}
.text{
  float: left;
  display: inline-block;
  padding: 0px 4px;
  line-height: 31px;
}
.input{
  float: left;
  display: inline-block;
  width: 100px;
}
.libox{
  display: block;
  overflow: hidden;
  padding-top: 10px !important;
  background: #EAEAEA;
  margin: 0px 30px;
  text-align: center;
}
.checkbox-inline {
    display: block;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 40px !important;
}
.libox li{
  display: inline-block;
margin: 0px 6px;
padding: 0px 6px;
}
.orng-btn{
  background: #e83c03;
  border-radius: 0px;
  color: #FFF;
  padding: 8px 15px !important;
  border: 0px none;
}
.add-line-height{
	line-height: 37px;
}
input.my {
    width: 288px;
}
.orng-btn:hover{
  background: #da3700;
  border-radius: 0px;
  color: #FFF;
  padding: 8px 15px !important;
  border: 0px none;
}
.form-box {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}
.checkbox_sameinfo {
    display: block;
    margin-bottom: 0px;
    text-align: center;
}
.form-heading{
	font-size: 20px;
	font-weight: bold;
	color: #1FAE66;
}
.body-gap{
	margin: 30px 0px;
}
.nextbutton {
    background-color: #DDD;
    color: #FFF;
    margin: 20px 0px;
}
.calluspopup{
	list-style: none;
}
.modal-header .close {
    margin-top: -10px !important;
    margin-right: -9px !important;
    background: #1FAE66 !important;
    opacity: 1 !important;
    width: 24px !important;
    color: #fff !important;
    height: 24px !important;
    border-radius: 20px !important;
}
.controls-button {
    list-style: outside none none;
    float: right;
    padding-left: 0px;
}
.controls-button li{
	float: left;
	margin: 0px 3px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 15px;
    text-align: center !important;
}
a.deletefile{margin: 0px 7px; color: #242729;}
a.editfile{margin: 0px 7px; color: #242729;}
.add-custom-height{
	width: 100%;
	min-height: 400px;
}
.inputsearch{
	margin:0px 0px !important;
}
.align-center{
	text-align:center;
}
.checkbox_callinfo {
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}
.srchdic {
    margin-top: 20px;
}
.view-history{
	margin: 5px 20px;
}
.srchdic a {
    border: 1px solid #CCC;
    padding: 5px 10px;
    margin:0px;
}
.name-popup{
	border-right:0px !important;
}
.popup-php a {
    background: #1FAE66 none repeat scroll 0% 0% !important;
    border-radius: 0px;
    color: #FFF !important;
    padding: 5px 21px !important;
    border: 0px none;
    display: inline-block;
}
.popup-margin{
	margin:5px 0px;
}
.appointment-date {
    text-align: center;
    color: #1FAE66;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.srchdic a:hover{
	border: solid 1px #1FAE66;
	color:#fff;
	background:#1FAE66;
}
.srchdicbox{
    display: inline-block;
    overflow: hidden;
    padding: 4px;
}

.vd_title-section .vd_panel-menu {he
    right: 15px !important;
}
.vd_title-section .vd_panel-menu > .menu {
    background-color: #1FAE66 !important;
    border-radius: 2px !important;
    color: #fff !important;
    padding: 10px 25px !important;
}
.panel-heading {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.Laboratory{
    width: 100%;
    height: auto;
    border:1px solid #ccc;
    height: auto;
    overflow: hidden;
    margin: 30px 0px;
}
.Laboratory h5{
    display: block;
    text-align: center;
    color: #fff;
    background:#1FAE66;
    padding: 6px 0px;

}
.Laboratory_box{
    width: 100%;
    height: auto;
    margin: 20px 0px;

}
.Laboratory_box h4{
    display: block;
    color: #fff;
    background:#1FAE66;
    text-align: center;
    padding:6px 0px;
    font-size: 13px; 
}
.Laboratory_box ul{
    list-style: none;
    padding: 0px 5px;
    margin: 0px;
    overflow: hidden;
}
.Laboratory_box ul li{
    display: block !important;
    overflow: hidden;
    margin: 5px 0px;

}
.Laboratory_span{
    float: left !important;
    width: 70% !important;
    line-height: 29px;

}
.Laboratory_input{
  float: left !important;
  width: 30% !important;
  height: 27px;
}
.cols-kk {
    float: left;
    width: 100% !important;
}
.vd_panel-menu2 {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    margin-right: -10px;
    cursor: pointer;
}
.vd_title-section .vd_panel-menu2 {
    top: 3px !important;
    right: 15px !important;
}
.vd_title-section .vd_panel-menu2 > .menu {
    background-color: #F8F8F8;
    border: medium none;
    height: auto;
    padding: 10px 15px;
    width: auto;
    margin-right: 0px;
    color: #666;
    text-align: left;
    border-radius: 0px;
}
.vd_title-section .vd_panel-menu2 > .menu {
    background-color: #1FAE66 !important;
    border-radius: 2px !important;
    color: #FFF !important;
    padding: 10px 25px !important;
}
.vd_panel-menu2 .menu {
    border-radius: 4px;
}
.vd_bg-green{
  background-color: #1FAE66 !important
}
.paneledit {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
    box-shadow: 0px !important;
}
.paneledit .panel-body2{
  background: #fff;
  border: 1px solid #edecec;
}
.widget {
    box-shadow: none !important;
    border-radius: 2px;
    position: relative;
}
ul.information{
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;

}
ul.information li{
    border-bottom: 1px solid #edecec;
    border-left: 1px solid #edecec;
    margin: 7px 0px;
    padding: 5px 0px;

}
ul.information li span{
    font-size: 14px;
    font-weight: bold;
    color: #E65821;
    padding: 0px 20px;
}
.panel-body2 {
    padding: 7px 25px 7px;
}
.changyour_option_dropdown{
    width: 100%;
    height: auto;
    background: #fff;
    margin: 10px 0px;
}
.option_dropdown_btn{
    background: #1FAE66;
    text-align: left;
    color: #fff;
    padding: 10px 20px;
    display: block;
   
}
.option_dropdown_btn:hover{
    color: #fff;
}
.option_dropdown_btn .head{
    font-size: 17px;
}
.padding_bottom{
  margin-bottom:30px; 
}
.menu-text2{
  padding: 10px 0px !important;
  font-size: 14px;
}
.width-xs-2 {
    width: 252px !important;
    background: #ccc;
    border: 1px solid #ccc;
}
.clearfix{
    clear: both;
}
.search_formbox{
  overflow: hidden;
  width: 100%;
}
.controls{

  height: auto;
  margin: 0px 10px;
}
.form-group2{
margin-right: 0px !important;
margin-left: 0px !important;
}
.custom_margin_top{
  margin-top: 20px !important;
}
.lab_custom{
    margin-bottom: 33px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
}
.menu-text span{
    font-weight: bold;
    font-size: 13px;
  color: #2E302E;
}
.content-list .list-wrapper > li {
    margin-bottom: 0px !important;
}
.content-image .menu-icon2 {
    border-radius: 30px;
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 12px;
    position:absolute;
    top:0;
}
.edit_text{
 padding: 10px 0px;
}
.green{
    color: #1FAE66 !important;
}
.home_visit h4{
  background: #1fae66;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
.home_visit{
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0px 55px;
    position: relative;

}
.other{
 margin: 10px 55px !important;
}
.plus{
  text-align: left;
  position: absolute;
  top:0;
  color: #fff;
  left: 6px;
}
.plus2{
  text-align: left;
  position: absolute;
  top:0;
  color: #fff;
  left: 6px;
}
.seehere{
  color: #fff;
  background: #1fae66;
  padding: 3px 5px;
  float: right;
}
.custom_menu_plan{
  padding: 10px;
}
.view_route{
  color: #000;
}
.view_route a{
  color: #1fae66;
      font-size: 10px;
}
.yes_no{
    color: #fff !important;
  background: #1fae66;
  padding: 3px 22px;
  float: right;
}
.modal-dialog {
    position: relative;
    background: #fff !important;
    width: 600px;
    margin: 30px auto;
    max-width: 100%;
}
.modal-dialog-timeline-php {
    position: relative;
    background: #fff !important;
    width: 850px !important;
    margin: 30px auto;
    max-width: 100%;
}
.modal-content {
    border-radius:0px !important;
}
.modal {
    top:10%;
  }
  .doctor_table{
    font-size: 11px !important;
  }
  .border{
    width: 100%;
    height: 1px;
    background: #ccc;
  }
  .border_right{
    border-right: 1px solid #ccc;
  }
  .nav-justified {
    width: 100%;
    margin-bottom: 20px !important;
}
.form-wizard .wizard .btn{
    background-color: #1fae66 !important;
    color: #FFF;
}
.star{
  color: #ff232b !important;
}
.input_box_client{
  height: 28px !important;
  padding: 0px 20px !important;
}
.input_box_client_select{
  height: 32px !important;
  padding: 0px 20px !important;
  border-radius: 0px;
}
.custom_radius{
  border-radius: 35px !important;
}
.greenbutton{
  background: #1FAE66 none repeat scroll 0% 0% !important;
border-radius: 0px;
color: #fff;
padding: 8px 15px !important;
border:0;
}
.greenbutton:hover{
  color: #fff;
}

.redbutton{
  background: #DF0000 none repeat scroll 0% 0% !important;
border-radius: 0px;
color: #fff;
padding: 8px 15px !important;
border:0;
}
.redbutton:hover{
  color: #fff;
}

.graybutton{
  background: #b5b5b5 none repeat scroll 0% 0% !important;
border-radius: 0px;
color: #000;
padding: 8px 15px !important;
border:0;
}

.graybutton:hover{
  color: #000;
}
.control-label {
    font-size: 12px;
}
.red_color{
  color: #ff232b !important;
  font-size: 10px !important; 
}

.checkbox_custom{
  display: block;
  margin-bottom:30px;
  text-align: center; 
}
.check_box{
    margin-bottom: -6px;
    display: inline-block;
    overflow: hidden;
    margin-left: 6px;
}
.health_box{
  width: 100%;
  height: auto;
  background: #1fae66;
  color: #fff;
  padding: 30px 17px;
  text-align: center;
  border-left: 5px solid #43e493;
  cursor: pointer;
  margin: 10px 0px;
  min-height: 110px;
}
.health_box h4{
  font-size: 17px;
}
.health-box-active{
  background:#046433 !important;
  width: 100%;
  height: auto;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  border-left: 5px solid #046433;
  cursor: pointer;
}
.question_ans{
  width: 100%;
  height: auto;
  margin: 15px 0px;
}
.question_ans ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.question_ans ul li{

  margin: 0px 0px;
}
.question_ans ul li .que_inner{
    background: #eaeaea;
    color: #000;
    display: inline-block;
      padding: 8px;
     width: calc(100% - 80px);
      margin-left:5px; 
}
.question_ans ul li img{
  vertical-align: top;
}
.que_input_box{
      padding: 1px 6px 2px !important;
}
.que_input_box2{
      width: 40%;
      float: left;
      padding: 1px 6px 2px !important;
}
.que_heading{
    color: #060;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 20px;
    margin-bottom:10px;
    display: block; 
}
.editli{
  margin-left:100px !important; 
}
.linesting{
  padding: 5px 20px;
  background: #cdcdcd;
  margin: 4px;
  display: block;
  width: 70%;
}
.innasting{
  display: block;
  background: #eaeaea;
  padding: 5px;
  margin: 3px;
}


/*--------responsive css-------------------------------*/
@media(min-width:768px){
.vd_title-section {min-height:600px !important;}
}
@media (max-width: 1200px){

ul.information li span {
    font-size: 12px;
    font-weight: bold;
    color: #E65821;
    padding: 0px 20px;
}
ul.information li{
    font-size: 11px;
}
.inputsearch{margin:5px 0px !important;}
}
.control-label {
    font-size: 9px;
}
@media (max-width: 1025px){
    .controls{
    margin: 0px;
    }
    .control-label{
      font-size: 10px;
    }
    ul.information li span {
    font-size: 11px;
    font-weight: bold;
    color: #E65821;
    padding: 0px 14px;
}
.health_box h4 {
    font-size: 15px;
}
}
@media (max-width: 768px){
.control-label {
    font-size: 9px !important;
}
.panel .panel-body {
    padding: 19px 3px 25px !important;
}
}
@media (max-width: 640px){
.question_ans ul li .que_inner {
    background: #EAEAEA none repeat scroll 0% 0%;
    color: #000;
    display: inline-block;
    padding: 8px;
    width: 100%;
    margin-left: 5px;
}
.section-body {
    padding: 16px 5px 5px !important;
    background: #fff;
    overflow: hidden;
}
.vd_head-section, .vd_content-section, .vd_title-section {
    padding: 0px 0px !important;
}

.vd_head-section, .vd_content-section, .vd_title-section {
    padding: 0px 10px !important;
}
.nav-left-hide .vd_head-section, .no-nav-left .vd_head-section, .nav-left-hide .vd_content-section, .no-nav-left .vd_content-section, .nav-left-hide .vd_title-section, .no-nav-left .vd_title-section {
    margin-left: 0px !important;
}
.que_heading_medical {
    color: #060;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 4px;
    margin-bottom: 10px;
    display: block;
}
.nastingul {
    width: 100%;
    height: auto;
    padding-left: 0px;
}
.editli {
    margin-left: 10px !important;
}
.panel .panel-body {
    padding: 14px 7px 25px;
}
.pd-25 {
    padding: 8px !important;
}
.form-wizard .tab-content {
    margin-top: 10px;
    border-top: 1px solid #EEE;
    padding: 0px 5px !important;
}
.table-custom thead > tr > th{
  font-size: 10px;
}
.libox{
text-align: left;
}
section#timeline article div.inner {
  width: 86%;
  float: left;
  border-radius: 6px;
  margin-left: 14%;
}
}
@media (max-width: 480px){
.category-text {
    margin-left: 0px;
    padding: 3px 0px;
    font-size: 11px;
}
.table-bordered > thead > tr {
  background: #F5F5F5;
  border:1px solid #E1E1E1;;
}
/*---changes on 28-01-2016--*/
.question_ans ul li {
    margin: 0px;
    display: block !important;
    overflow: hidden;
}
.text {
    float: left;
    display: inline-block;
    padding: 0px 4px;
    line-height: 31px;
    min-width: 100px;
}

.table-bordered > thead > tr > th{
  display: block;
  border:0px !important;
}

.panel .panel-body {
    padding: 15px 7px 25px !important;
}
.checkbox-addcss label{
  display: block !important;
}
.part-two{
 width: 100%;
}
.libox li {
    display: block;
    margin: 0px 6px;
    padding: 0px 6px;
}
}
@media (max-width: 320px){
section#timeline article div.inner {
    width: 84%;
    float: left;
    border-radius: 6px;
    margin-left: 16%;
}
}

.info-call-details{
	width:100%;
	height:auto;
	padding:10px;
	margin-bottom:10px;
	overflow:hidden;
	
}
.info-call-details ul{
	list-style:none;
	padding-left:0px;
}
.info-call-details ul li{
	float:left;
	padding:5px 10px;
	display:inline-block;
}
.info-call-details ul li:last-child {
    bottom: 11px;
}
@media(max-width:640px){
.info-call-details ul li{
	float:none;
	padding:5px 10px;
	display:block;
}
.info-call-details ul li:last-child {
    float: left !important;
    position: relative;
    bottom: 0px;
}
}

.cat3 {
    margin: 10px 0px;
    height: 45px !important;
    width: 300px !important;
	max-width:100%;
}
@media(max-width:480px){
.patient-history {
    display: block;
    background: #1FAE66;
    color: #fff;
    padding: 2px 10px;
    margin: 2px 0px;
    text-align: center;
}
}

/*  Add BY Jugal*/
.border-none input.phonecode{
    width: 40px;
    border: 1px solid #ccc;
    height: 32px;
	}
.border-none input.input_box_client{
    width: Calc(100% - 40px);
    float: right;
    border: 1px solid #ccc;
    height: 32px !important;
	}
.border-none{
	border:0px !important;
}

.ppnotes {	
	font-size:10px;
	color:#F00;  	
}